body {
  margin: 0;
  background-image: url("assets/fondos/4.jpeg");
  background-size: cover;
  background-position: right;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}


ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a,
a:hover {

  text-decoration: none;
}

/* Altered Bootstrap */

.jumbotron {
  background-color: #ffffffd5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  max-width: 85%;
  min-width: 340px;
  margin: 0 auto;
  padding: 1rem 2rem;
  min-height: 65vh;
}

.img-thumbnail {
  margin: 1rem auto;
  width: 100%;
}


/* Utilities */

.titulo {
  font-weight: 500;
  border-bottom: 1px solid var(--green);
  margin: 0 auto 1rem auto ;
}

.sub-titulo {
  font-weight: 700;
  border-bottom: 1px solid var(--green);
  margin: 1rem auto;
}

.small {
  font-size: 0.3rem !important;
}


